/** RESET **/
/* line 5, scss/app/base/_reset.scss */
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1;
  border: 0;
  outline: none;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 17, scss/app/base/_reset.scss */
html {
  box-sizing: border-box; }

/* line 21, scss/app/base/_reset.scss */
h2, h3, h4 {
  font-weight: normal; }

/** ABSTRACTS **/
/* line 20, scss/app/abstracts/_fonts.scss */
.helvetica {
  font-family: helvetica, "Arial", sans-serif; }

/* line 24, scss/app/abstracts/_fonts.scss */
.light {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300; }

/* line 29, scss/app/abstracts/_fonts.scss */
.regular, body, h4, p, #header nav ul li > a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400; }

/* line 34, scss/app/abstracts/_fonts.scss */
.bold, h1, h2, h3, .btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700; }

/* line 39, scss/app/abstracts/_fonts.scss */
.special, .title {
  font-family: 'Pacifico', cursive;
  font-weight: normal; }

@-moz-keyframes scale {
  0% {
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  70% {
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes scale {
  0% {
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  70% {
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-o-keyframes scale {
  0% {
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  70% {
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes scale {
  0% {
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  70% {
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-moz-keyframes bounce {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  25% {
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  50% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  75% {
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bounce {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  25% {
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  50% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  75% {
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes bounce {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  25% {
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  50% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  75% {
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes bounce {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  25% {
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  50% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  75% {
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
/* BASE STYLES */
/* line 8, scss/app/base/_base.scss */
html, body {
  height: 100%; }

/* line 12, scss/app/base/_base.scss */
body {
  background: #ffffff; }

/* line 17, scss/app/base/_base.scss */
h1, h2, h3 {
  color: #004179;
  font-size: 38px;
  line-height: 1.2; }

/* line 24, scss/app/base/_base.scss */
h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5; }

/* line 31, scss/app/base/_base.scss */
p {
  font-size: 18px; }

/* line 36, scss/app/base/_base.scss */
hr {
  display: block;
  width: 70px;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  margin: 10px auto 20px auto;
  border: 0; }

/* line 45, scss/app/base/_base.scss */
sup, sub {
  font-size: 50%;
  vertical-align: baseline;
  position: relative;
  top: -0.70em;
  left: 0.05em; }

/* line 53, scss/app/base/_base.scss */
sub {
  top: 0.4em; }

/* line 57, scss/app/base/_base.scss */
input {
  -webkit-appearance: none;
  border-radius: 0; }

/* line 62, scss/app/base/_base.scss */
input[type="checkbox"] {
  -webkit-appearance: checkbox; }

@media (max-width: 980px) {
  /* line 71, scss/app/base/_base.scss */
  html, body {
    height: auto; } }
@media (max-width: 767px) {
  /* line 82, scss/app/base/_base.scss */
  h1, h2, h3 {
    font-size: 22px;
    line-height: 1.2; }

  /* line 87, scss/app/base/_base.scss */
  hr {
    height: 1px;
    width: 90%; } }
/* line 7, scss/app/base/_component_mixins.scss */
footer .container:after, .grid.row50 > .container:after, #header nav:after {
  content: " ";
  display: table;
  clear: both; }

/* line 17, scss/app/base/_component_mixins.scss */
.underlines:after {
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
  display: block;
  position: relative;
  content: '';
  width: 0;
  background: #999;
  margin: 2px auto -2px;
  height: 1px; }
/* line 30, scss/app/base/_component_mixins.scss */
.underlines:hover:after, .underlines:focus:after {
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
  width: 100%; }

/** LAYOUT **/
/* line 9, scss/app/layout/_container.scss */
.container {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  text-align: center; }

@media screen and (max-width: 1200px) {
  /* line 23, scss/app/layout/_container.scss */
  .container {
    max-width: 100%;
    padding: 0 1.5%; }

  /* line 29, scss/app/layout/_container.scss */
  #slider .container {
    padding: 0; } }
/* line 6, scss/app/layout/_footer.scss */
footer {
  background: #ffffff;
  padding: 0;
  position: relative;
  margin-top: 0; }
  /* line 13, scss/app/layout/_footer.scss */
  footer .container {
    padding: 30px 0; }

/* line 11, scss/app/layout/_grid.scss */
.grid.row50 > .container > * {
  width: 46%;
  float: left; }
  /* line 14, scss/app/layout/_grid.scss */
  .grid.row50 > .container > *:first-child {
    margin-right: 4%; }

/* line 14, scss/app/layout/_header.scss */
#header {
  height: 70px;
  width: 100%;
  background: #004179; }
  /* line 21, scss/app/layout/_header.scss */
  #header nav {
    padding-top: 15px; }
    /* line 25, scss/app/layout/_header.scss */
    #header nav ul {
      list-style: none; }
      /* line 30, scss/app/layout/_header.scss */
      #header nav ul li {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        float: left;
        border: 2px solid transparent;
        padding: 8px 10px;
        margin: 0 5px;
        position: relative; }
        /* line 39, scss/app/layout/_header.scss */
        #header nav ul li > a {
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          font-size: 18px;
          text-decoration: none;
          color: #ffffff;
          position: relative; }
        /* line 49, scss/app/layout/_header.scss */
        #header nav ul li.active {
          border: 2px solid #ffffff; }
        /* line 54, scss/app/layout/_header.scss */
        #header nav ul li:hover, #header nav ul li.active, #header nav ul li.hover {
          background-color: #ffffff; }
          /* line 56, scss/app/layout/_header.scss */
          #header nav ul li:hover a, #header nav ul li.active a, #header nav ul li.hover a {
            color: #004179; }

/* line 20, scss/app/layout/_sections.scss */
section {
  background: #004179;
  padding: 20px 0 40px;
  border-bottom: 1px solid #ffffff; }

/* line 27, scss/app/layout/_sections.scss */
.title {
  color: #ffffff;
  font-size: 42px;
  position: relative;
  margin-bottom: 30px; }

/* line 38, scss/app/layout/_sections.scss */
section.section-alternative {
  padding-bottom: 0;
  background: #ffffff; }
  /* line 42, scss/app/layout/_sections.scss */
  section.section-alternative .title {
    color: #004179; }
    /* line 44, scss/app/layout/_sections.scss */
    section.section-alternative .title + p {
      color: #444; }

/* line 49, scss/app/layout/_sections.scss */
#main {
  position: relative; }

@media (max-width: 767px) {
  /* line 59, scss/app/layout/_sections.scss */
  .title {
    font-size: 28px;
    line-height: 1em;
    padding-left: 15%;
    padding-right: 15%; } }
/** PAGES **/
/** ERROR PAGE **/
/** HELPERS **/
/* line 6, scss/app/helpers/_accessibility.scss */
.srt {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  margin: 0;
  padding: 0; }

/* line 13, scss/app/helpers/_accessibility.scss */
.srt:focus {
  background-color: #f6f6f6;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto;
  color: #004179;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  text-transform: none;
  width: auto;
  z-index: 10; }

@media (max-width: 767px) {
  /* line 39, scss/app/helpers/_accessibility.scss */
  #skip-link {
    display: none; } }
/* line 7, scss/app/helpers/_desktop_mediaqueries.scss */
.just-mobile {
  display: none !important; }

/* line 11, scss/app/helpers/_desktop_mediaqueries.scss */
.just-ipad {
  display: none !important; }

@media (max-width: 980px) {
  /* line 20, scss/app/helpers/_desktop_mediaqueries.scss */
  .just-ipad {
    display: block !important; }

  /* line 24, scss/app/helpers/_desktop_mediaqueries.scss */
  .hide-portrait {
    display: none !important; } }
@media (max-width: 767px) {
  /* line 34, scss/app/helpers/_desktop_mediaqueries.scss */
  .just-mobile {
    display: block !important; }

  /* line 38, scss/app/helpers/_desktop_mediaqueries.scss */
  .hide-mobile {
    display: none !important; } }
/* line 7, scss/app/helpers/_helpers.scss */
.hidden {
  display: none !important; }

/** COMPONENTS **/
/* line 13, scss/app/components/_buttons.scss */
.btn {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; }
  /* line 25, scss/app/components/_buttons.scss */
  .btn.btn-main {
    color: #ffffff;
    background-color: #f4531c;
    border: 3px solid #ffffff; }
    /* line 30, scss/app/components/_buttons.scss */
    .btn.btn-main:hover, .btn.btn-main:focus {
      border-color: #8d672a;
      background: #8d672a; }

/* line 45, scss/app/components/_buttons.scss */
.view-more-button {
  margin-top: 20px; }

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
/* line 13, scss/app/components/_owl-carousel.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
/* line 22, scss/app/components/_owl-carousel.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

/* line 28, scss/app/components/_owl-carousel.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0); }

/* line 33, scss/app/components/_owl-carousel.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

/* line 38, scss/app/components/_owl-carousel.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* line 46, scss/app/components/_owl-carousel.scss */
.owl-carousel .owl-item {
  float: left; }

/* line 49, scss/app/components/_owl-carousel.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

/* line 53, scss/app/components/_owl-carousel.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
/* line 63, scss/app/components/_owl-carousel.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
/* line 68, scss/app/components/_owl-carousel.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/** PRINT **/
/* line 6, scss/app/helpers/_print.scss */
.just-print {
  display: none !important; }

@media print {
  /* line 12, scss/app/helpers/_print.scss */
  .just-print {
    display: block; } }
/** I18N **/
/** SHAME **/
/** MEDIA QUERIES **/
