// ==============================================
// FOOTER
// ==============================================

// Footer
footer {
  background: $white;
  padding: 0;
  position: relative;
  margin-top: 0;

  // Clear Fix
  .container {
    padding: 30px 0;
    @extend %clearfix;
  }

}

// ==============================================
// IPAD LANDSCAPE
// ==============================================
@include ipadLandscape {


}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

  footer {

  }

}