// ==============================================
// SECTIONS
// ==============================================

// Vars
$sectionPaddingTop: 20px;
$sectionPaddingBottom: 40px;

$sectionMainBgColor: $white;
$sectionMainTitleColor: $blackLight;
$sectionMainDescriptionColor: $mainColor;
$sectionMainBorderColor: $mainColor;

$sectionAlternativeBgColor: $alternativeColor;
$sectionAlternativeTitleColor: $mainColor;
$sectionAlternativeDescriptionColor: $blackLight;
$sectionAlternativeBorderColor: transparent;

// General Section
section {
  background: $sectionMainBgColor;
  padding: $sectionPaddingTop 0 $sectionPaddingBottom;
  border-bottom: 1px solid $sectionMainBorderColor;
  text-align: center; // by default all the sections will have the text centered
}

// Section Title
section .title {
  color: $sectionMainTitleColor;
  font-size: 30px;
  position: relative;
  margin-bottom: 5px;
}

// Section supratitle
section .supratitle {
  color: $greyDusty;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

// Section description
section .description {
  display: block;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  color: $greyDusty;
}


// ==============================================
// CUSTOM SECTIONS
// ==============================================
section.columns {

  // Column grid
  .description {
    margin-bottom: 40px;
  }
}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

  // Title
  .title {
    font-size: 28px;
    line-height: 1em;
    padding-left: 15%;
    padding-right: 15%;
  }

}